# Ignorar carpetas privadas
Revisiones-privado/
dataverse_files/

# Ignorar temporales de Word y macOS
*.tmp
*.bak
~$*.docx
*.ppt
*.pptx
*.DS_Store
*.docx
.Rproj.user
.Rhistory
.DS_Store

# Ignorar archivos de sistema
Thumbs.db
